.badge {
  position: absolute;
  left: 363px;
  top: 23px;
  background-color: #ba090b;
  width: 17px;
  height: 17px;
  border-radius: 15px;
  font-size: 12px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: white;
  z-index: 20;
}
