.badge {
  position: absolute;
  left: 113px;
  top: 12px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  font-size: 12px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: white;
  z-index: 20;
}
