/* Navigation base setting */
.nav_bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 10px 0;
  background: linear-gradient(to bottom, var(--colorOne), transparent);
}

ul,
li {
  list-style: none;
}

/* Navigation logo */
.nav_bar-logo {
  margin: 0 50px;
}

.nav_bar-logo img {
  width: 100px;
}

.nav_bar-logoAndMenu {
  display: flex;
  align-items: center;
}

/* Navigation menu */
.nav_bar-menus {
  display: flex;
  padding-left: -500px;
}

.nav_bar-menus a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.nav_bar-menus a:hover {
  color: white;
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}

.search {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  overflow: hidden;
  transition: width 0.5s ease-in;
}

.search .searchIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.search .searchInput {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .searchInput input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  color: white;
  background: rgba(1, 1, 1, 0.5);
  font-size: 15px;
  padding-left: 80px;
}

.search.active {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Navigation Icons */
.nav_bar-icons {
  position: relative;
  font-family: sans-serif;
}

.nav_bar-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.nav_bar-icons > ul > li:first-child i,
.fa-bell {
  margin: 0px 15px 0px 15px;
  color: rgb(230, 230, 230);
  font-size: 20px;
}

.nav_bar-icons > ul > li:last-child i {
  color: rgb(230, 230, 230);
  font-size: 15px;
}

.nav_bar-icons > ul > li:nth-child(3) > ul > li img {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  margin-right: 10px;
}

.nav_bar-icons i:nth-child(1):hover {
  cursor: pointer;
  color: white;
  /* animation: searchScale 2.5s ease-in-out infinite; */
}

.fa-bell:hover {
  cursor: pointer;
  color: white;
  animation: ringTheBell 5s ease-in-out infinite;
}

.nav_bar-accountSetting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.nav_bar-accountSetting img {
  margin: 0px 5px 0px 15px;
  border-radius: 5px;
  width: 34px;
  height: 34px;
}

.nav_bar-accountSetting:hover {
  cursor: pointer;
  color: white;
}

/* Navigation dropdown Menu */

.nav_bar-icons > ul > li:last-child > ul {
  display: none;
  position: absolute;
  top: 80%;
  right: 0%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 7px 0;
  background-color: black;
}

.dropDownMenu::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 25px;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  transform: rotate(45deg);
}

.dropDownMenu > ul {
  display: block;
  padding: 5px 10px 0px 10px;
  margin: 0;
}

.nav_bar-icons > ul > li:last-child > .dropDownMenu > ul > li {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
}

.settingIcon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  margin-right: 8px;
}

.nav_bar-icons > ul > li:nth-child(3) > .dropDownMenu > ul > li i {
  color: var(--colorWhite);
  font-size: 17px;
}

.nav_bar-icons > ul > li:last-child > .dropDownMenu > .setting > li {
  padding: 0;
}
.nav_bar-icons > ul > li:last-child > .dropDownMenu > .setting {
  padding: 10px;
}

.nav_bar-icons > ul > li:last-child > .dropDownMenu > .logOut > li {
  display: block;
  text-align: center;
}

.dropDownMenu .profile,
.dropDownMenu .setting {
  border-bottom: 1px solid rgb(77, 77, 77);
}

.nav_bar-icons > ul > li > div:hover ~ ul,
.nav_bar-icons > ul > li:last-child > ul:hover {
  display: block;
}

.nav_bar-icons > ul > li:last-child > ul > ul > li:hover > a {
  border-bottom: 1px solid var(--colorWhite);
}

.nav_bar-icons > ul > li:last-child > div:hover > i {
  transform: rotate(180deg);
  transition: 0.2s ease-in-out;
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ringTheBell {
  10% {
    transform: rotateZ(20deg) scale(1.2);
  }
  20% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  30% {
    transform: rotateZ(20deg) scale(1.2);
  }
  40% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  50% {
    transform: rotateZ(20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  70% {
    transform: rotateZ(20deg) scale(1.2);
  }
  80% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  90% {
    transform: rotateZ(20deg) scale(1.2);
  }
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
