.swiper {
  width: 100%;
  height: 200px;
  background-color: var(--colorOne);
  margin: 0 15px 0 15px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 255px;
  height: 155px;
  border-radius: 8px;
}

.swiper-slide img:hover {
  cursor: pointer;
}

.thumbSection__header-title {
  display: flex;
  color: var(--colorWhite);
  font-size: 22px;
  margin: 0 0 0 50px;
  font-family: sans-serif;
}

.thumbSection {
  background: var(--colorOne);
  margin: 0 0 0 30px;
}

.thumbTiles .swiper-button-prev {
  height: 100%;
  width: 4%;
  width: calc(4% - 5px);
  top: 0;
  bottom: 0;
  margin: 0;
}

.thumbTiles .swiper-button-next {
  height: 100%;
  width: 4%;
  width: calc(4% - 5px);
  top: 0;
  bottom: 0;
  margin: 0;
}

.thumbTiles .swiper-button-prev {
  left: 0;
  background: linear-gradient(to right, var(--colorOne), transparent);
  border-top-right-radius: var(--tileBorderRadius);
  border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
  right: 0;
  background: linear-gradient(to left, var(--colorOne), transparent);
  border-top-left-radius: var(--tileBorderRadius);
  border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 640px) {
  .thumbTiles .swiper-button-prev::after,
  .thumbTiles .swiper-button-next::after {
    display: none;
    font-size: 2.4vw;
  }

  .thumbTiles .swiper-button-prev:hover::after,
  .thumbTiles .swiper-button-next:hover::after {
    transform: scale(1.25);
  }
  /*
  .thumbTiles:hover .swiper-button-prev:hover {
    background: linear-gradient(to right, var(--colorOne), transparent);
  }

  .thumbTiles:hover .swiper-button-next:hover {
    background: linear-gradient(to left, var(--colorOne), transparent);
  }
  */

  .thumbTiles:hover .swiper-button-prev::after,
  .thumbTiles:hover .swiper-button-next::after {
    display: block;
  }
}

.movieSlider {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .swiper-slide img {
    width: 210px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}

@media screen and (max-width: 1100px) {
  .swiper-slide img {
    width: 190px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
@media screen and (max-width: 1000px) {
  .swiper-slide img {
    width: 170px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
@media screen and (max-width: 900px) {
  .swiper-slide img {
    width: 150px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}

@media screen and (max-width: 800px) {
  .swiper-slide img {
    width: 130px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
@media screen and (max-width: 700px) {
  .swiper-slide img {
    width: 110px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
}
@media screen and (max-width: 600px) {
  .swiper-slide img {
    width: 90px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
@media screen and (max-width: 500px) {
  .swiper-slide img {
    width: 70px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    width: 50px;
    height: auto;
    transition: 0.6 ease-in-out;
  }
}
